<div class="bg-gradient-to-r from-pink-50 to-sky-50 container px-12 xl:px-0 py-24 mx-auto max-w-5xl antialiased">
  <%= turbo_stream.remove("articles_placeholder") %>
  <div id="articles_list" 
    data-controller="infinite-scroll"
    data-url-value="<%= blogs_url %>"
    >
    <%= turbo_frame_tag "articles_list",
        src: blogs_url(format: :turbo_stream, page: params[:page]), 
        loading: :lazy do %>
      <div class="md:grid md:grid-cols-2 lg:grid-cols-3 gap-8" id="articles_placeholder">
        <% 3.times do %>
          <%= render "article_placeholder" %>
        <%end%>
      </div>
    <%end%>
  </div>
  <div id="articles_pagination">
  </div>
</div>
