<%= form_with(model: [commentable, Comment.new], local: true, 
  data: { turbo_stream: true, controller: "reset_form", action: "turbo:submit-end->reset-form#clear" }) do |form| %>
  <%= form.hidden_field :parent_id, value: local_assigns[:parent_id] %>
  <div class="field">
    <%= form.text_area :content,
      placeholder: "Add a comment",
      class: "w-full px-3 py-2 text-sm text-gray-700 border rounded-lg focus:outline-none focus:border-blue-500 resize-none",
      rows: 2 %>
  </div>

  <div class="actions">
    <%= form.submit local_assigns[:parent_id] ? "Reply" : "Post",
      class: "text-blue-500 font-semibold text-sm hover:text-blue-600 transition duration-300 ease-in-out cursor-pointer" %>
  </div>
<% end %>
