<div class="bg-white pt-14">
  <div class="mx-auto max-w-2xl lg:max-w-7xl lg:px-8">
    <h2 class="sr-only">Products</h2>
    <div class="grid grid-cols-3 gap-4 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4 xl:gap-x-8">
      <div class="w-[90rem] h-[40rem] flex flex-row flex-wrap items-center pr-8">
        <%= render @products %>
      </div>
    </div>
  </div>
</div>